```bash
nikel@Aspire-A717-71G:~/dev/University/Optimization & decision-making methods/laba4$ python3 -m unittest -v advert_test.py 
test_class_in_full_description (advert_test.MyTestCase) ... ok
test_negative_price (advert_test.MyTestCase) ... ok
test_param_available_in_full_description (advert_test.MyTestCase) ... ok
test_price_in_small_description (advert_test.MyTestCase) ... ok
test_repr_in_full_description (advert_test.MyTestCase) ... ok
test_title_in_full_description (advert_test.MyTestCase) ... ok

----------------------------------------------------------------------
Ran 6 tests in 0.001s

OK
```
 
